**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/node_modules/
**/dist/
**/build/
**/.DS_Store
**/.vscode/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/coverage/

/app/frontend/.env
/app/frontend/.eslintcache

/app/backend/.env
/app/backend/.nyc_output/
/app/backend/logs/
/app/backend/*.pid